:root {
    --green: #191970;
    --dark: #B0C4DE;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    background: linear-gradient(to right top,var(--dark), var(--green));
    overflow: hidden;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;

}

section:first-child {
    margin-right: 100px;
}

h1 {
    font-size: 25px;
    padding: 15px 0 12px
}

p {
    padding-bottom: 8px;
    font-size: 8px;
    font-weight: 400;
}

a {
    position: relative;
    color: var(--dark);
    text-decoration: none;
    font-weight: 400;
}

.person_img {
    width: 72px;
    height: 72px;
    background: var(--green);
    border: solid 2.5px #fff;
    overflow: hidden;
    border-radius: 100%;
}

.person_img img {
    width: 100%;
}

button {
    width: 150px;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 0;
    color: #fff;
    background: var(--green);
    background: linear-gradient(to right top, var(--green), rgba(255, 255, 255, 0.6));
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:focus {
    outline-color: #fff;
}

button:after {
    width: 50px;
    height: 150%;
    position: absolute;
    left: -100px;
    top: -25px;
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.4s;
}

button:hover:after {
    transform: translateX(500px) rotate(20deg);
}

a:after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--green);
    background: linear-gradient(90deg, transparent, var(--green));
    transition: width 0.3s;
}

header {
    flex: 1;
}

.container {
    display: flex;
    max-width: 90vw;
    max-height: 75vh;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    padding: 5px 92px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: auto;
}

a:hover:after {
    width: 100%;
}

.logo {
    width: 100px;
    margin-right: 80px;
}

.logo img {
    width: 100%;
}

.bg_img {
    position: absolute;
}

.bg_img--logo {
    left: 15px;
    top: 40%;
    width: 65%;
    opacity: 0.55;
    transform: translate(-50%, -50%);
}

.bg_img--button {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 60%;
    animation: slideDown 12s linear infinite;
}

.bg_img--dots {
    top: 0;
    left: 80%;
    height: 50vh;
    animation: rotate 25s linear infinite;
}

@keyframes slideDown {
    from {transform:translateY(-30vh)}
    to {transform:translateY(100vh)}
    
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.person_img--miko {
    transform: translate(10px, 10px);
}

.person_name {
    padding: 10px;
    display: flex;
    margin: 20px 15px 10px 0;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    background: linear-gradient(90deg, var(--dark), #fff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.person:last-child {
    align-self: flex-end;
}